<ion-view title="Tabs Controller" id="page1" class="tabs-striped tabs-dark">
  <ion-tabs class="tabs-dark tabs-icon-top" id="tabsController-tabs1">
    <ion-tab title="Analysis" icon="ion-stats-bars" href="#/tabs/left" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Today" icon="ion-beaker" href="#/tabs/middle" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Settings" icon="ion-person" href="#/tabs/right" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
