<ion-view title="Forgot Password" id="page5">
    <ion-content padding="true" class="has-header">
        <form id="forgotPassword-form2" class="list">
            <ion-list id="forgotPassword-list3">
                <label class="item item-input" id="forgotPassword-input3">
                    <input type="text" placeholder="NRIC" ng-model="input.username">
                </label>
            </ion-list>
            <button id="forgotPassword-button3" class="button button-positive  button-block" ng-click="submit(input)">Submit</button>
        </form>
    </ion-content>
</ion-view>
