<ion-view title="welcome" hide-nav-bar="true" id="page5">
    <ion-content padding="true" scroll="false" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 300px; height: 10%;"></div>
        <img src="img/HydrateME.png" style="max-width:100%; height:auto; vertical-align: middle;">
        <div id="welcome-button-bar1" class="button-bar">
            <a ui-sref="login" id="welcome-button4" style="font-size:20px;border-radius:90px 90px 90px 90px;" class="button button-positive  button-block">Login</a>
            <a ui-sref="forgotPassword" id="welcome-button6" style="font-size:20px;border-radius:90px 90px 90px 90px;" class="button button-positive  button-block">Forgot</a>
        </div>
    </ion-content>
</ion-view>
