<ion-view title="forgot" hide-nav-bar="true" id="page7">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <form id="forgot-form2" class="list">
      <ion-list id="forgot-list2">
        <label class="item item-input" id="forgot-input3">
          <span class="input-label">Name</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <button id="forgot-button3" class="button button-stable  button-block">Sign up</button>
    </form>
  </ion-content>
</ion-view>