<ion-view title="Forgot Password" id="page5">
    <ion-content padding="true" class="has-header">
        <form id="forgotPassword-form2" class="list">
            <ion-list id="forgotPassword-list3">
                <label class="item item-input" id="forgotPassword-input3">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="forgotPassword-input4">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="forgotPassword-input5">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <button id="forgotPassword-button3" class="button button-stable  button-block">Sign up</button>
        </form>
    </ion-content>
</ion-view>