<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu">
        <ion-header-bar class="bar-stable">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header ">
            <ion-list id="menu-list1">
                <ion-item class="item-icon-left" id="menu-list-item1" ui-sref="menu.home" menu-close="">
                    <i class="icon ion-waterdrop"></i>Home</ion-item>
                <ion-item class="item-icon-left" id="menu-list-item2" ui-sref="menu.cart" menu-close="">
                    <i class="icon ion-stats-bars"></i>Cart</ion-item>
                <ion-item class="item-icon-left" id="menu-list-item3" ui-sref="menu.cloud" menu-close="">
                    <i class="icon ion-ionic"></i>Cloud</ion-item>
                <ion-item class="item-icon-left" id="menu-list-item4" ui-sref="menu.settings" menu-close="">
                    <i class="icon ion-gear-b"></i>Settings</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
