<ion-view title="{{dateHeader}}" id="page3">
    <ion-content padding="true" class="has-header" scroll="false">
    <div class="todayTop"></div>
    <div class="circleBorder" ng-style="fillStyle">
        <img class="circleBorderImage" src="img/todayDroplet.png">
        {{latestAmt | litre}}
        <!--<strong>{{litresDrank}}</strong> liters-
            <div class="circleBorderTop"></div>
            Hello
            <div class="circleBorderBottom"></div>-->
    </div>
    <div class="todayBottom">
    <div>
    </ion-content>
</ion-view>
