<ion-view title="Update Password" id="page8">
  <ion-content padding="true" scroll="false" class="has-header">
    <form id="updatePassword-form4" class="list">
      <label class="item item-input" id="updatePassword-input8">
        <input type="text" placeholder="New Password">
      </label>
      <label class="item item-input" id="updatePassword-input9">
        <input type="text" placeholder="Confirm Password">
      </label>
      <button id="updatePassword-button5" class="button button-dark  button-block">Submit</button>
    </form>
  </ion-content>
</ion-view>