.popup-body { /* For aligning the text in ionic popups to the center */
    text-align: center;
}/*
.button.button-positive {
    background-color:#01172F;
}
.background, .background .pane, .background .item, .background .item-complex .item-content{
    background-color: #01172F;
}*/
